<%# views/campgrounds/index.ejs %>

<% include ../partials/header %>



<div class="container">
    <% if (currentUser && currentUser.isAdmin) { %>
    <div class="alert alert-success" role="alert">
        You have admin rights
    </div>
    <% } %>

    <header class="jumbotron">
        <div class="container text-center">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
            <p class="lead">View our handpicked campgrounds from all over the world</p>
            <p><a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new campground</a></p>
        </div>
    </header>


    <div class="row text-center">
        <% campgrounds.forEach(campground => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-outline-primary">More Info</a>
                </div>
            </div>

        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>