/* public/stylesheets/main.css */


body {
    font-family: 'Work Sans', sans-serif;
    /* font-weight: 300; */
    background-color: #f5f8fa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Taviraj', serif;
}

.jumbotron {
    background-image: url(https://source.unsplash.com/qelGaL2OLyE);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}